<script id="template-login" type="text/x-handlebars-template">
	<div class="container">
		<form class="form-signin" method="post" action="." id="form-login">
			<h2 class="form-signin-heading">Please sign in</h2>

			{{#if error}}
				<div class="alert alert-danger">
					{{{error}}}
				</div>
			{{/if}}

			<div class="form-group">
				<label for="inputEmail" class="sr-only">Email address</label>
				<input type="email" name="email" value="{{email}}" id="inputEmail" class="form-control" placeholder="Email address" autocomplete="false" required autofocus /{{#if disabled}}disabled/{{/if}}>
			</div>
			<div class="form-group">
				<label for="inputPassword" class="sr-only">Password</label>
				<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required /{{#if disabled}}disabled/{{/if}}>
				<div>
					<a href="/forgot_password" data-bb-link>Forgot Password</a>
				</div>
			</div>
			{{#if disabled}}
			<div class="loader center" aria-label="working..."></div>
			{{else}}
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
			{{/if}}

		</form>
	</div>
</script>
