<form method="post" action="/addEmployee">
    <h1>Add a New Employee</h1>
    <fieldset>
        <div>
            <label for="fname">first name</label>
            <input type="text" id="fname" value="">
        </div>
        <div>
            <label for="lname">last name</label>
            <input type="text" id="lname" value="">
        </div>
    </fieldset>
    <button type="submit">submit</button>
</form>