<script id="template-header" type="text/x-handlebars-template">
	<header class="navbar navbar-inverse navbar-fixed-top">
		<nav class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/" data-bb-link><img src="/images/bu-logo.gif" alt="Boston University"></a>
			</div>
			{{#if isLoggedIn }}
				<div id="navbar">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" id="dLabel" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								{{name}} <span class="caret"></span>
							</a>
							<ul class="dropdown-menu" aria-labelledby="dLabel">
								{{#if isAdmin}}
									<li><a href="/admin" data-bb-link>LMS Admin</a></li>
								{{/if}}
								<li><a href="#logout" role="button" id="logout">log out</a></li>
							</ul>
						</li>
					</ul>

				</div><!--/.nav-collapse -->
			{{/if}}
		</nav>
	</header>
</script>