<script id="template-footer" type="text/x-handlebars-template">
	<div class="container-copyright">
		<div class="container">
			&copy; Copyright {{displayDate}}, Scott Daniels
		</div>
	</div>
</script>