<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CS602 HW2 - Scott Daniels</title>
    <meta name="description" content="CS602 HW2 - Scott Daniels">
    <meta name="author" content="Scott Daniels">

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
</head>

<body>
  <header>
    <div>CS602 HW2 &ndash; Scott Daniels</div>
    <nav><a href="/addEmployee">Add Employee</a>
  </header>
  <main>
    <hr>
    {{{body}}}
  </main>
</body>
</html>