/* layout */
html, body {
    height: 100%;
    margin: 0;
}
body {
    padding-top: 90px;
}

.wrapper {
    min-height: 100%;

    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -75px;
}

header .container {

}

.navbar-brand {
    min-height: 50px;
    height: 100%;
}

#navbar > ul {
    margin-top: 15px;
}

main {
    padding: 0 25px;
}

.footer, .push {
    height: 75px;
}

footer > div:first-child {
    border-top: 1px solid #ccc;
    padding-top: 25px;
    text-align: right;
    font-size: 12px;
    color: #ccc;
}

ul.noStyle {
    list-style: none;
    padding: 0;
    margin: 0 0 15px;
}


/* horizontal menu */
.actions ul {
    list-style: none;
}

.actions li {
    float: left;
    padding: 0;
}

.actions li:first-child {
    padding-right: 5px;
    border-right:  1px solid #666;
    margin-right: 5px;
}

/* content loader */
.loader {
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

.loader.lg {
    width: 120px;
    height: 120px;
    border-width: 16px;
    border-top-width: 16px;
}

.loader.sm {
    width: 16px;
    height: 16px;
    border-width: 3px;
    border-top-width: 3px;
}

.loader.center {
    margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* admin */
.filters {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.filters li {
    padding-right: 8px;
}

.filters li:first-child {
    text-transform: capitalize;
    font-weight: bold;
}

.filters li a.active {
    color: #666;
}

textarea.pageContent {
    height: 400px;
}